body{
    background-image:linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12, 0.75)), url(/img/mabi11.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
p{
    color: blueviolet;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
nav ul {
    background-color: grey;
    width: 100%;
    list-style-type: none;
    text-align: center;

}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;  
}
nav li:hover {
    background-color: violet
}