body{
    background-image:linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12, 0.75)), url(/img/mabi11.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
p{
    color: blueviolet;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}